<div class="containerFooter">
    <section>
        <picture> 
            <!-- <source media="(min-width:1300px)" srcset="Imagenlarge">
            <source media="(min-width:1000px)" srcset="ImageMedium"> -->
            <img src="assets/imgFooter/marvel.jpg" alt="Marvel" title="Marvel">
            <figcaption>Pagos Onlie</figcaption>
        </picture>
    </section>
    
    <section>
        <p>ABOUT MARVEL</p>
        <p>HELP/FAQS</p>
        <p>CAREERS</p>
        <p>INTERNSHIPS</p>
    </section>

    <section>
        <p>ADVERTISING</p>
        <p>DISNEY+</p>
        <p>MARVELHQ.COM</p>
        <p>REDEEM DIGITAL COMICS</p>
    </section>

    <section>
        <p>IMAGEN 1</p>
        <p>IMAGEN 2</p>
    </section>

    <section>
        <h2>FOLLOW MARVEL</h2>
        <p>IMAGEN 1</p>
        <p>IMAGEN 2</p>
    </section>
</div>