.containerBanner{
    background-color: #212529;
}

a{
    font-size: 2rem;
    color: white;
    margin-right: 3rem;
}

.login a{
    // background-color: yellow;
    display: inline-block;
}

.menu a:hover{
    border-bottom: 1px solid red;
}